/* Palette


--white: #fbfffeff;
--gunmetal: #2b303aff;
--bottle-green: #097050ff;
--cinnabar: #d64933ff;
--portland-orange: #f46036ff;

--white: hsla(165, 100%, 99%, 1);
--gunmetal: hsla(220, 15%, 20%, 1);
--bottle-green: hsla(161, 85%, 24%, 1);
--cinnabar: hsla(8, 67%, 52%, 1);
--portland-orange: hsla(13, 90%, 58%, 1);
*/

@font-face {
	font-family: 'sansation';
	src: url('font/sansation/Sansation-Regular.ttf');
}

/* Global Styling */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color:#2b303a;
	background: #fbfffe;
	font-family: sansation, Arial, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	height: 100%;
}

main {
	min-height: 100%;
	height: 100%;
	position: relative;
}

a {
	color: #097050;
}

a:hover {
  text-decoration: none;
}

div.wrapper {
	max-width: 900px;
	width: 85%;
	margin: 0 auto;
	padding: 40px 0 0;
	/*overflow: hidden;*/
}


/*////////////*/
/*header stuff*/
/*////////////*/

header {
	text-align: center;
	color: #fbfffe;
	background: #d64933;

}

header div.wrapper {
	padding: 40px 0;
	filter: drop-shadow(3px 3px 3px hsla(220, 15%, 20%, .5));
}

/*////////////*/
/*/menu stuff/*/
/*////////////*/

ul.menu {
	background: #2b303a;
	color: #fbfffe;

	margin: 0px;
}





ul.menu li a {
	color: #f46036;
}

/*Intro*/
.intro {
	text-align: center;
}

/*Contact Page*/

.contact-form {
	border: 2px outset #d64933;
	border-radius: 8px;
	padding: 10px;
	display: grid;
	grid-gap: 5px;
	filter: drop-shadow(3px 3px 3px hsla(220, 15%, 20%, .5));
}



/*Photo Gallery*/
.photo-gallery {
	margin: 0 auto;
	/* max-width:900px; */
}

.thumbnail-wrapper {
	margin: 0 auto;

	padding: 40px 0 0;
	max-width: 830px;
}

.thumbnails {
	list-style-type: none;
	padding:0;
	text-align: center;
}

.thumb {
	/*width: 150px;*/
	filter: drop-shadow(3px 3px 3px hsla(220, 15%, 20%, .5));
}


.big-photo-wrap {
	text-align: center;

}

img.big-photo {
	/*width: 100%;*/
	max-width: 2000px;
	height: 80vh;
	min-height: 800px;
	filter: drop-shadow(3px 3px 3px hsla(220, 15%, 20%, .5));
}

/*Footer*/

footer {
	color: #097050;

}

footer .wrapper {
	width: 50%;

}

.social-links {
	list-style-type: none;
	display: flex;
	text-align: center;


	font-size: .75em;

}
.social-links li {
		flex: 1 0 auto;
}

/*//////////////////*/
/*Responsive Queries*/
/*//////////////////*/

/*for big screens*/
@media screen and (min-width:800px){
	ul.menu {
		list-style-type: none;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
	}

	ul.menu li {
		flex: 1 0 auto;

	}

	ul.menu li.li-mid {
		border-left: 2px solid #fbfffe;
		border-right: 2px solid #fbfffe;
	}

	.job {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

	.thumbnails {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style-type: none;
		width: 100%;
	}

	ul.thumbnails li {
		flex: 1 0 auto;
		margin: 8px;
	}

	.thumb {
		cursor:pointer;
	}

	.thumb:hover {
		opacity: 90%;
	}
}

/*for small screens*/
@media screen and (max-width:799px){

	ul.menu {
		list-style-type: square;
	}

	ul.menu li {
		padding: .3em 0 .3em 0;

	}

	ul.menu li.li-mid {
		border-top: 1px solid #fbfffe;
		border-bottom: 1px solid #fbfffe;
	}

	img.big-photo {
		display: none;
	}

	ul.thumbnails li {
		margin: 0 0 1em 0;
	}


}
